# Project config
GOOGLE_CLOUD_PROJECT="GCP_PROJECT_ID"
GOOGLE_CLOUD_LOCATION="LOCATION"
GOOGLE_GENAI_USE_VERTEXAI=True

# Telemetry and debugging config
GOOGLE_CLOUD_AGENT_ENGINE_ENABLE_TELEMETRY=True
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=True

# Agent config
MCP_SERVER_URL="https://code-snippet-mcp-server-${GOOGLE_CLOUD_PROJECT_NUMBER}.${GOOGLE_CLOUD_LOCATION}.run.app/mcp"
SERVICE_ACCOUNT_EMAIL="code-snippet-sa@${GOOGLE_CLOUD_PROJECT}.iam.gserviceaccount.com"
AGENT_ENGINE_ID=AGENT_ENGINE_ID
GEMINI_ENTERPRISE_APP_ID=GEMINI_ENTERPRISE_APP_ID
